<div>
<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='/about'>
                <img id="avatar" class="2x" src="/media/images/logo.jpg"/>
            </a>
            <h1>Chappie</h1>
            <h2>这不是一个博客 只是一个笔记本</h2>
        </header>
    </section>
</div>
    <section id="wrapper">
  <div class="post">
      <h1>笔记</h1>
    <br />
    <ul class="org-ul">
      {{#posts}}
        <li>{{date}}&nbsp;&nbsp;»&nbsp;&nbsp;<a href="{{post-uri}}">{{post-title}}</a></li>
        <br />
      {{/posts}}
    </ul>
  </div>
  </section>
</div>
